.tasks_list{
    padding: a20px;
    background-color: lightblue;
    margin-top:150px;
    margin-bottom: 100px;

}
table {
    font-family: arial, sans-serif;
    width: 100%;
  }
td, th {
    border: 1px solid;
    text-align: left;
    padding: 10px;
  }