<div class="tasks_list">
<!-- <app-task-entity  *ngFor="let t of Tasks_kulhum" [task]="t"> -->
    <table>
        <tr>
            <th>Label</th>
            <th>Details</th>
            <th>Starting date</th>
            <th>Deadline</th>
            <th>Status</th>
            <th>Priority</th>
        </tr>
        <!-- <tr>
            <td>{{t.label}}</td>
            <td>{{t.details}}</td>
            <td>{{t.startingDate}}</td>
            <td>{{t.deadline}}</td>
            <td>{{t.status}}</td>
            <td>{{t.priority}}</td>
        </tr> -->
    </table>
<!-- </app-task-entity> -->
</div>